#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid $gray-lighter;
	padding-top: 30px;
	color: $gray-light;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

// Landing Page
.intro-image {
	max-width: 100%;
}

.navbar-brand {
	padding: 3px 15px 3px 3px;
	.campaign-logo {
		height: 100%;
		display: inline-block;
	}
}

.long-introduction {
	margin-top: 20px;
}

.pledge-button-container {
	padding: 0px 20px;
}
// Organizations Page

.organization-logo {
	padding: 20px;
	height: 200px !important;
}

.organization-description {
	height: 200px;
	overflow: auto;
}
